.App  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
}

.header {
    text-align: center;
    color: rgba(29, 28, 28, 0.816);
}

.footer {
    text-align: center;
    font-weight: 350;
    font-size: 15px;
    color: rgba(36, 36, 36, 0.733);
}

.footer a {
    color: rgb(33, 133, 133);
    text-decoration: none;
    font-weight: 700px;
}
